# Dots, Backups etc.
.*
*~
!.gitignore
!.gitattributes

# Python artifacts
__pycache__/
__pycache__/*
venv/
venv/*

# Working files
*.xlsx
*.sqlite
*.real.sh
*.db

# Potentially sensitive
*.json
*.log
*.csv

# Explicitly allowed
!autocesta_ulazi_izlazi.csv
